{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>883</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<pre><a href="http://127.0.0.1:8000/"><button class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed"><path d="M220-180h150v-250h220v250h150v-390L480-765 220-570v390Zm-60 60v-480l320-240 320 240v480H530v-250H430v250H160Zm320-353Z"/></svg></button></a> <a href="http://127.0.0.1:8000/courses"><button class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed"><path d="M760-200v-160q0-50-35-85t-85-35H273l144 144-57 56-240-240 240-240 57 56-144 144h367q83 0 141.5 58.5T840-360v160h-80Z"/></svg></button></a></pre>

<br>

<body style="background-color: rgb(50, 50, 50);">
<div class="container">
    <div class="row" id="profile-wrapper" style="color: rgb(80, 80, 80);">
        <div class="col-md-5">
            <div class="card card-body h-1 border-info">
                <h3>Title: {{ course.title }} </h3>
                <hr>
                  <h3>Description: {{ course.description }}</h3>
                <hr>
                  <h3>Teacher: {{ course.teacher.name }} - {{ course.teacher.email }}</h3>

                <hr>
                <h3>Student:</h3>
                <br>
<ul>
                {% for student in course.students.all %}
                <li>
<a href="{% url 'student_detail' student.pk %}"><button class="btn btn-dark">{{ student.name }}</button></a> - "{{ student.pk }}"
                    <br>
                    <br>
                </li>
                {% endfor %}
</ul>
                <hr>
                    <div class="col-md-6">
                        <img src="{{ course.image.url }}" alt="" height="100%" width="200%">
                    </div>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}
